<div class="container" [ngStyle]="{'display': step == 0 ? 'flex' : 'none' }">
    <div class="heading">
        <mat-card-header>
            <mat-card-title>{{isCreating ? 'Registrar veículo' : 'Editar veículo'}}</mat-card-title>
            <mat-card-subtitle>{{isCreating ? 'Preencha os campos abaixo para prosseguir.' : 'Altere os campos abaixo e clique em Alterar.'}}</mat-card-subtitle>
        </mat-card-header>
        <button mat-icon-button (click)="cancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="content">

        <form [formGroup]="modalForm" class="example-form">
            <mat-form-field>
              <mat-label>Marca do Veículo</mat-label>
              <input type="text"
                     placeholder="Ex: Volkswagen"
                     matInput
                     formControlName="marca"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsMarca | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Qual é o modelo?</mat-label>
                <input type="text"
                       placeholder="Ex: Fusca"
                       matInput
                       formControlName="modelo"
                       [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptionsModelo | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            <div class="horizontal">
                <mat-form-field>
                    <mat-label>Renavam</mat-label>
                    <input type="text" placeholder="000000000" matInput formControlName="renavam">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Placa</mat-label>
                    <input type="text" placeholder="000000000" matInput formControlName="placa">
                </mat-form-field>

            </div>

            

            <div class="horizontal">

                <mat-form-field>
                    <mat-label>Chassi</mat-label>
                    <input type="text" placeholder="ABC0000000" matInput formControlName="chassi">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Ano</mat-label>
                    <input type="number" placeholder="1999" matInput formControlName="ano">
                </mat-form-field>

            </div>
            
          </form>

    </div>

    <div class="footer">
        <button mat-flat-button (click)="cancel()">Cancelar</button>
        <!-- <button mat-flat-button [disabled]="!this.modalForm.valid" color="primary" (click)="regOrEdit()">{{isCreating ? 'Registrar' : 'Alterar'}}</button> -->
        <button mat-flat-button color="primary" (click)="regOrEdit()">{{isCreating ? 'Registrar' : 'Alterar'}}</button>
    </div>
</div>

<div class="container" [ngStyle]="{'display': step == 1 ? 'flex' : 'none' }">
    <div class="heading"></div>
    <div class="content">
        <div class="cases success">
            <mat-icon class="big-icon">
                check_circle
            </mat-icon>
            <h1>Sucesso!</h1>
            <p>{{isCreating ? 'Seu registro foi realizado' : 'A edição do veículo foi efetuada'}}  com sucesso!</p>
        </div>
    </div>
    <div class="footer">
        <button mat-flat-button (click)="cancel()">Pronto</button>
    </div>
    
    
</div>

<div class="container" [ngStyle]="{'display': step == 2 ? 'flex' : 'none' }">
    <div class="heading"></div>
    <div class="content">
        <div class="cases failed">
            <mat-icon class="big-icon">
                sentiment_dissatisfied
            </mat-icon>
            <h1>Algo deu errado!</h1>
            <p>{{isCreating ? 'Houve um erro ao registrar o veículo' : 'Não foi possível editar o veículo'}} com sucesso!</p>
        </div>
    </div>
    
    <div class="footer">
        <button mat-flat-button (click)="cancel()">Desistir</button>
        <button mat-flat-button color="primary" (click)="backTopFirstStep()">Voltar</button>
    </div>
    
</div>